<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css.css">
    <title>扫码签到-于博滔</title>
</head>
<body id="login">
<table>
    <tr>
        <td>
            <iframe src="two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
    </tr>
    <tr>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
        <td>
            <iframe src="/two_dim_code"></iframe>
        </td>
    </tr>
</table>
</body>
</html>